<%= form_with(model: contract, local: true) do |form| %>
  <% if contract.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contract.errors.count, "error") %> prohibited this contract from being saved:</h2>

      <ul>
      <% contract.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_select :start_date, id: :contract_start_date %>
  </div>

  <div class="field">
    <%= form.label :paid_or_not %>
    <%= form.check_box :paid_or_not, id: :contract_paid_or_not %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
