<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Home address:</strong>
  <%= @client.home_address %>
</p>

<p>
  <strong>Mobile number:</strong>
  <%= @client.mobile_number %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
